@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a href="C:\Users\ubera\Source\Repos\WebApplication2\WebApplication2\Models\Teste.cs">C:\Users\ubera\Source\Repos\WebApplication2\WebApplication2\Models\Teste.cs</a>
